body {
	background-color: rgba(121, 165, 155, 0.51);
}
.todo__controls {
	margin: 20px 0px;
	float: right;
}
.control__item {
	margin: 0 5px;
}
.todo__body, .todo__form {
	display: none;
}
.list-group-item:hover {
	background-color: #F2F2F2;
}
.control__item.glyphicon {
	vertical-align: bottom;
}
.control__item.glyphicon:hover {
	color: #0869D1;
}
.todolist-container {
    margin-top: 30px;
    clear: both;
}
.todo__form {
	clear: both;
}
#header, #footer {
	display: none;
}
a {
	color: black;
}
.form-control {
	margin-bottom: 15px;
}
#form {
	margin-bottom: 20px;
}
