<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>Todo-App</title>
    </head>
    <body>
    	<div id="header">
    		{% include 'header/header.twig' %}
    	</div>
        <div id="content">
        	{% include 'content/content.twig' %}
        </div>
        <div id="footer">
    		{% include 'footer/footer.twig' %}
        </div>
    </body>
</html>