{% extends "index.twig" %}
{% block bodyClasses %}todo__edit{% endblock %}
{% block contentHead %}
	<h1>Update Todo</h1>
	<div class="todo__controls">
	    <a class="todo__list btn btn-default" href="/twig">List Todo Items</a>
	</div>
{% endblock %}